
# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# saveplace
places

# url cache
url/cache/

# cedet
ede-projects.el

# smex
smex-items

# company-statistics
company-statistics-cache.el

# anaconda-mode
anaconda-mode/

# projectile cache
projectile.cache

# straight
straight/

# fennel lang
fennel-mode/

# emacs bookmarks
bookmarks

# lsp session
.lsp-session-v1

# fonts downloaded by all-the-icons
fonts/

# ?
network-security.data

# mystery cache
.cache/

# mystery transient
transient/

# emacs custom.  This means any non-scripted customizations will not be part of the repository so will not show up on other machines.
custom.el

# undo-tree persistent cache
undo-tree

# End of https://www.gitignore.io/api/emacs

init.ec
ido.last
recentf
company-specific.el
hackernews/
eln-cache/
projects
url/
org-persist/